ex_user:
  - { customer: 'ease_ops' ,customer_pass: 'vagrantvagrant' }

ServerAdmin: info@fingerease.work
domain_name:
   - { domain: 'fingerease.work' ,customer: 'ease_ops' }
   - { domain: 'vagrant.com' ,customer: 'vagrant' }
custom_domain:
   - { domain: 'ease.fingerease' ,customer: 'ease_ops' , document_root: '/home/ease_ops/public_html' }
webuser: apache
#webuser: nginx

php_var: 8.1
php_modules:
  - "php"
  - "php-bcmath"
  - "php-bz2"
  - "php-core"
  - "php-ctype"
  - "php-curl"
  - "php-date"
  - "php-dom"
  - "php-exif"
  - "php-fileinfo"
  - "php-filter"
  - "php-ftp"
  - "php-gd"
  - "php-hash"
  - "php-iconv"
  - "php-intl"
  - "php-json"
  - "php-libxml"
  - "php-mbstring"
  - "php-mysqli"
  - "php-mysqlnd"
  - "php-openssl"
  - "php-pcntl"
  - "php-pcre"
  - "php-pdo"
  - "php-pdo_mysql"
  - "php-pdo_sqlite"
  - "php-phar"
  - "php-posix"
  - "php-readline"
  - "php-reflection"
  - "php-session"
  - "php-shmop"
  - "php-simplexml"
  - "php-soap"
  - "php-sockets"
  - "php-spl"
  - "php-sqlite3"
  - "php-standard"
  - "php-sysvsem"
  - "php-sysvshm"
  - "php-tidy"
  - "php-tokenizer"
  - "php-xdebug"
  - "php-xml"
  - "php-xmlreader"
  - "php-xmlrpc"
  - "php-xmlwriter"
  - "php-xsl"
  - "php-devel"
  - "php-zip"
  - "php-zlib"
  - "php-opcache"
  - "php-ldap"
  - "php-imap"

db_passwd: OP:Ts7ajsu98J
innodb_buffer_pool_size: 256M
key_buffer_size: 4M

zabbix_password: -xOP:T;@as7u@s;sl~@sl
zabbix_server_ip: 8.8.8.8
