---
# zabbixエージェント導入
- name: zabbix-repo_add
  yum:
    name: http://repo.zabbix.com/zabbix/5.0/rhel/8/x86_64/zabbix-release-5.0-1.el8.noarch.rpm
    state: present
    disable_gpg_check: yes

- name: zabbix-agent_install
  shell: "yum install zabbix-agent --disablerepo=epel-modular -y"

- name: zabbix-agent_conf_change
  lineinfile:
    dest: "/etc/zabbix/zabbix_agentd.conf"
    state: present
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
  with_items:
    - { regexp: "Server=127.0.0.1" ,line: "Server={{ zabbix_server_ip | default('127.0.0.1', true) }}" }
    - { regexp: "ServerActive=127.0.0.1" ,line: "ServerActive={{ zabbix_server_ip | default('127.0.0.1', true) }}" }
    - { regexp: "Hostname=Zabbix server" ,line:  "Hostname={{ inventory_hostname }}" }

- name: zabbix-agent_conf_change_mem
  blockinfile:
    dest: /etc/zabbix/zabbix_agentd.conf
    block: |
       UserParameter=system.memory.sizetotal,free -b | grep "Mem" | awk '{print $2}'
       UserParameter=system.memory.sizeused,free -b | grep "Mem" | awk '{print $3}'
       UserParameter=system.memory.sizefree,free -b | grep "Mem" | awk '{print $4}'
       UserParameter=system.memory.sizebuff_cache,free -b | grep "Mem" | awk '{print $6}'
       UserParameter=system.memory.sizeavailable,free -b | grep "Mem" | awk '{print $7}'

# サービス起動
  notify: zabbix-agent_start 
