---
# リポジトリ追加
- name: install epel and remi repository
  yum:
    name:
      - epel-release
      - https://rpms.remirepo.net/enterprise/remi-release-8.rpm
    disable_gpg_check: yes

# php インストール
- name: dnf module enable
  shell: "dnf module enable -y php:remi-{{ php_var | default('8.1', true) }}"

- name: install php-module
  yum:
    name: "{{ item }}"
    state: present
  with_items:
    - "{{ php_modules | default('php-fpm', true) }}"

# php.ini変更
- name: change php.ini
  lineinfile:
    dest="/etc/php.ini"
    regexp="{{ item.regexp }}"
    line="{{ item.line }}"
  with_items:
    - { regexp: ";date.timezone*" ,line: "date.timezone = Asia/Tokyo" }
    - { regexp: "expose_php = On" ,line: "expose_php = Off" }
    - { regexp: "post_max_size = 8M" ,line: "post_max_size = 128M" }
    - { regexp: "upload_max_filesize = 2M" ,line: "upload_max_filesize = 128M" }

# php-fpmファイルの設置
- name: deploy web.conf 
  template:
    src: ../templates/www.conf
    dest: /etc/php-fpm.d/www.conf
    owner: root
    group: root
    mode: 0644
    backup: yes 

# ディレクトリ権限調整
- name: change permission
  file:
    path: /var/lib/php/{{ item }}
    owner: root
    group: "{{ webuser | default('nginx', true) }}"
    mode: 0770
  with_items:
    - opcache
    - session
    - wsdlcache

# php-fpm 起動
- name: start php-fpm
  systemd:
    name: php-fpm
    state: started
    enabled: yes
